/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.container-center{
  width: 90%;
  margin: auto;
}

section, footer{
  padding-top: 50px;
  padding-bottom: 70px;
}

.grey{
  background-color: #f3f5f9;
}

.blue{
  background: linear-gradient(#0046c4,
  #0034b1, #00209c);
}

.textcenter{
  text-align: center;
}

.textwhite{
  color: #fff;
}

.textgrey{
  color: #9ca5b6;
}

.textverdeacqua{
  color: #00d1d0;
}

.textbluacceso{
  color: #227dfe;
}

.textdarkblu{
  color: #031c4e;
}

/* regole header */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.lgmenu li {
  display: inline-block;
}

.logodigital img{
  max-height: 50px;
}

.ham {
  display: none;
}

/* media nav */

@media screen and (max-width:991px) {

  .centratura {
    width: 95%;
  }

  nav>div{
    max-width: 50%;
  }

  /* regole hamburger e drop */
  .ham {
    display: block;
  }
  .dropdown{
    display: none;
  }


  .ham:hover .dropdown {
    display: block;
    position: absolute;
    left: 0;
    top:90px;
    width: 100%;
    border: solid 1px #000;
  }

  .lgmenu {
    display: none;
  }
}

/* regole jumbotron */
#jumbotron{
  background-image: url("../img/jumbo.svg");
  background-size: cover;
}

#jumbotron>.container-center{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 60px 0;
}

#jumbotron h1{
  font-size: 55px;
}

#jumbotron p{
  font-size: 23px;
  font-weight: 300;
}

.textjumbo{
  flex-basis: 60%;
}

.formjumbo{
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  flex-basis: 40%;
}

.formjumbo h2{
  font-size: 30px;
  margin-top: 20px;
}

.form-control{
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

.list-group-item{
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 1px #f3f5f9;
  margin-top: 20px;
}

.list-group-item:first-child{
  background-color: #579aff;
  margin-bottom: 10px;
}

.list-group-item:last-child{
  position: relative;
  margin-bottom: 30px;
}

#jumbotron img{
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
  height: 25px;
}

#jumbotron p{
  padding-top: 5px;
}

/* regole main */

/* sezione loghi */
#sectfirst ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px auto;
}

/* #sectfirst li{
  flex-basis: calc(100% / 6);
} */

/* media loghi */
@media screen and (max-width:768px){
  #sectfirst li{
    flex-basis: 50%;
  }
}


/* sezione deploy and scale */
#sectsecond .container-flex{
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#deploy{
  flex-basis: 20%;
}

#deploy li{
  border-left: 3px solid #d5d5d5;
  color: #78829c;
  padding-bottom: 30px;
  padding-left: 10px;
}
.blocchi.caselle{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 80%;
}

.testinfo{
  flex-basis: 40%;
}

/* media sezione 2 */
@media screen and (max-width:768px){
  #deploy{
    flex-basis: 100%;
  }

  .blocchi.caselle{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
  }

  .testinfo{
    flex-basis: 100%;
  }
}

/* sezione designe for developers */
#sectthird>.container-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#sectthird h2, #sectthird p{
  margin-bottom: 30px;
}

/* Riga designed con slide */
.slide{
  position: relative;
}
.slide img{
  max-width: 100%;
  margin-bottom: 10px;
}
  /* Proprietà icone slide img e slide div */
.slide i, .slide-window a:not(.blue-link) i{
  font-size: 30px;
  vertical-align: middle;
  position: absolute;
  transform: translate(0, -50%);
}
  /* Icone scompaiono a Ypx */
@media all and (max-width: 768px) {
  .slide i, .slide-window i{
    display: none;
  }
}
  /* Icona freccia SX */
.slide i.left, .slide-window i.left{
  color: grey;
  margin-right: 2%;
  top: 50%;
  left: -30px;
}
  /* Icona freccia DX */
.slide i.right, .slide-window i.right{
  color: navy;
  margin-left: 2%;
  top: 50%;
  right: -30px;
}
  /* Pallini blu slide */
.blue-dot{
  height: 12px;
  width: 12px;
  display: inline-block;
  background-color: transparent;
  border: 2px solid dodgerblue;
  border-radius: 50%;
}
.blue-dot:hover, .blue-dot.clicked{
    background-color: dodgerblue;
}


/* sezione business needs */
#sectfour .container-flex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sectfour h2{
  padding-bottom: 40px;
}

.features{
  flex-basis: 30%;
}

/* media sezione 4 */
@media screen and (max-width:768px){
  .features{
    flex-basis: 100%;
  }
}


/* sezione table */
.table{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.table>table{
  flex-basis: 50%;
  margin-top: 30px;
}

.textverdeacqua{
  padding-left: 105px;
}

/* media table */
@media screen and (max-width:768px){
  .table>table{
    flex-basis: 100%;
  }

  .textverdeacqua{
    padding-left: 45%;
  }
}
/* sezione development digital */
#sectsix .container-flex{
  display: flex;
  justify-content: center;
}

.slide{
  background-color: white;
  position: relative;
  min-height: 150px;
  padding: 50px 10px;
  width: 100%;
  margin: 40px 0 20px;
}
.slide img{
  margin: 20px 10px 10px;
  width: 220px;
  max-width: 85%;
}
.slide p{
  margin: 10px;
}
.slide h5{
  margin: 15px 10px 0;
}
.slide div{
  margin-bottom: 20px;
}


/* footer */
footer .container-flex{
  display: flex;
  flex-wrap: wrap;
}
.testfooter{
  width: 200px;
  height: 300px;
  background-color: red;
  border: 1px solid black;
}
